html {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
}

.main {
    width: 70%;
    margin-right: 5px;
}

.side {
    width: 25%;
    margin-left: 5px;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

.messages, .nodeList, .privateList {
    overflow: scroll;
    background-color: aliceblue;
    border: 2px solid black;
}

.messages {
    height: 600px;
}

.nodeList {
    height: 200px;
}

.privateList {
    height: 250px;
}

#messageInput {
    width: 80%;
    margin-top: 10px;
    margin-right: 10px;
}

#nodeInput {
    width: 50%;
    margin-top: 10px;
    margin-right: 10px;
}

p#msg, p#node, p#private {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p#private {
    color: red;
}